/* Fuente */
$font-roboto: 'Roboto', sans-serif;

/* Grid */
$grid-unit: 8px;

/* Colores (Tema Dark) */
$color-negro: #222222;
$color-blanco: #FFFFFF;
$color-blanco-50: rgba(255, 255, 255, 0.5);
$color-blanco-20: rgba(255, 255, 255, 0.2);

/* Tamaños de Fuente */
$font-size-header: 36px;
$font-size-task: 24px;

/* Bordes */
$border-radius: 4px;